{{>header}}
<main>
    <h2 class="text-center">About Weightlist</h2>
    <p>Weightlist is an app created by Michael Albrecht, MD in 2021.
        The app helps people lose weight by completing challenges.  
        This blog was created to supplement the information available
        in the Weightlist app and to provide general information about various
        topics related to weight loss.  
    </p>
    <p>You can purchase the Weightlist app on the appropriate
        app store on either iPhone or Android.  Visit brightmdapps.com for more details
        or search for "Weightlist" on the iPhone app store or Google Play Store to
        download the app to your mobile device.
    </p>
</main>
{{>footer}}