{{>header}}
<main class="center-main flex-col">
    <h2 class="page-title text-center">Weightlist Blog Articles</h2>
    <section class="blog_post_list flex-row">  
        <div class="blog_post_title">
            <h4 class="post_list_heading">Blog Post Title</h4>
            {{#each posts}}
                <a href={{concat @index}} class="blog_title_link"><h5 class="post_list_item">{{this.title}}</h5></a>
            {{/each}}
        </div>
        <div class="blog_post_date">
            <h4 class="post_list_heading">Date Posted</h4>
            {{#each posts}}
            <h5 class="post_list_item">{{this.dateCreated}}</h5>
            {{/each}}
        </div>       
    </section>
</main>
{{>footer}}