{{>header}}
<main>
    <h2 class="text-center">Weightlist Blog Administrator Login</h2>
    <form class="login_form">
        <div class="login_input">
            <label for="username"><h3>Username</h3></label>
            <input type="text" id="username"/>
        </div>
        <div class="login_input">
            <label for="password"><h3>Password</h3></label>
            <input type="password" id="password"/>
        </div>
        <button id="login-btn" class="btn btn-primary"><a class="login_link" href="{{editURL}}">LOGIN</a></button>
    </form>
</main>
{{>footer}}