{{>header}}
<main class="center-main">
    <article>
        <h2>{{post.title}}</h2>
        <h6 class="readable_font">{{post.dateCreated}}</h6>
        <h6 class="readable_font"><b>By Michael Albrecht, MD</b></h6>
        {{{post.body}}}
    </article> 
</main>
{{>footer}}
