<main class="container">
  <h2 class="text-center">Edit Post</h2>
  <div class="alert alert-danger" *ngIf="formError" role="alert">
    {{ formError }}
  </div>
  <form (ngSubmit)="onEditPostSubmit(id)">
  <div class="flex-col">
      <div class="form_item flex-col">
          <label for="edit_post_title"><h4>Post title</h4></label>
          <input type="text" id="edit_post_title" name="edit_post_title" [(ngModel)]="editedPost.title"/>
      </div>
      <div class="form_item flex-col">
          <label for="edit_post_body"><h4>Post body</h4></label>
          <textarea rows="15" [(ngModel)]="editedPost.body" name="edit_post_body" id="edit_post_body"></textarea>   
      </div>
      <button id="save-edited-post-btn" class="save-btn btn btn-primary">Save <fa-icon [icon]="faSave"></fa-icon></button>