<main class="container">
  <h2 class="text-center">About This Blog</h2>
  <p>This blog was started by Michael Albrecht, MD, an internal medicine physician who practices in the state of Kansas, in the U.S.  The goal of the blog is to provide Dr. Albrecht an avenue to discuss current topics in the medical field.
     You can visit Dr. Albrecht's software development portfolio website at <a class="blog_post_link" href="https://brightmdapps.com">brightmdapps.com</a>.  You can email him at <a class="blog_post_link" href="mailto:brightmdapps@gmail.com">brightmdapps@gmail.com</a>.
  </p>
</main>