<main class="center-main container-fluid main_individual_post">
  <article>
      <h2>{{title}}</h2>
      <h6 class="readable_font">{{dateCreated}}</h6>
      <h6 class="readable_font"><b>By Michael Albrecht, MD</b></h6>
      <div [innerHtml]="body"></div>
  </article> 
  <section>
    <br><br>
    <em>Michael Albrecht is a general internal medicine physician who practices in Kansas in the United States.  He works on healthcare-related software development projects, including this blog, as a hobby.  If you'd like to see more of his software creations, visit </em><a class="blog_post_link" href="https://brightmdapps.com">brightmdapps.com</a>.
  </section>
</main>

