<main>
  <h2 class="text-center">Weightlist Blog Administrator Login</h2>
  <form class="login_form">
      <div class="form-group">
          <label for="username"><h3>Username</h3></label>
          <input type="text" id="username" class="form-control"/>
      </div>
      <div class="form-group">
          <label for="password"><h3>Password</h3></label>
          <input type="password" id="password" class="form-control"/>
      </div>
      <button id="login-btn" routerLink="/admin/edit" class="btn btn-primary">LOGIN</button>
  </form>
</main>